@page "/about"

<h3>A little bit about me</h3>

<p>I am a software engineer with 3 years of experience building Windows desktop applications in an agile and team-driven environment. 
    I strive to better myself everyday both profesionally and personally. I love talking about Software Design and process imporvements.
</p>
<p>
    In my spare time, I enjoy playing video games, learning new technologies, and working out.
</p>

@code {

}
