@page "/contact"

<style>
    .row-margin-custom 
    {
        margin-top: 4.0em;
        margin-bottom: 4.0em;
    }
</style>

<PageTitle>Contact</PageTitle>

<div class="row row-margin-custom d-flex justify-content-center">
    <div class="col-lg-3 justify-content-center text-center">
        <h5>
            <a href="https://www.linkedin.com/in/matthew-minor-487a76110/">
                <i class="animate__animated animate__zoomInDown fa-2x fa-brands fa-linkedin-in"></i>
            </a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://github.com/MatthewSMinor">
                <i class="animate__animated animate__zoomInDown fa-2x fa-brands fa-github"></i>
            </a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://twitter.com/gorbguy">
                <i class="animate__animated animate__zoomInDown fa-2x fa-brands fa-twitter"></i>
            </a>
        </h5>
    </div>
</div>